{% extends 'base.html' %}


{% block main %}
<style>
    .direction {
      direction: rtl; 
      text-align: right; 
      background-color: #f8f9fa; 
      border: 1px solid #ddd; 
      padding: 10px; 
      border-radius: 5px;
    }
	.list-group {
		display: contents;}
    a {
        color: #245aea;}
</style>
<section class="section-conten padding-y bg direction">

{% include 'alerts/alerts.html' %}
<div class="container">
	<div class="row">
	{% include 'includes/profile_sidebar.html' %}
	<main class="col-md-9">
		<article class="card">
		<header class="card-header">
			<strong class="d-inline-block mr-3">رمزعبور خود را تغییر دهید</strong>

		</header>
		<div class="card-body">
			<div class="row">
			<div class="col-md-12">
				<form action="{% url 'account:change_password_page' %}" method="POST">
					{% csrf_token %}

					<div class="form-group">
						<label>رمز عبور فعلی</label>
						<input type="password" name="current_password" placeholder="رمز عبور فعلی" class="form-control" required>
					</div>
					<div class="form-group">
						<label>رمز عبور جدید ایجاد کنید</label>
						<input type="password" name="new_password" placeholder="رمز عبور جدید ایجاد کنید" class="form-control" required>
					</div>
					<div class="form-group">
						<label>رمز عبور جدید را تایید کنید</label>
						<input type="password" name="confirm_password" placeholder="رمز عبور جدید را تایید کنید" class="form-control" required>
					</div>

					<input type="submit" value="ارسال" class="btn btn-primary">
				</form>
			</div>

			</div> <!-- row.// -->
		</div> <!-- card-body .// -->

		</article> <!-- order-group.// -->
	</main>
</div> <!-- row.// -->
</div>


</section>

{% endblock %}