{% extends 'base.html' %}


{% block main %}
<style>
  .direction {
      direction: rtl; 
      text-align: right; 
      background-color: #f8f9fa; 
      border: 1px solid #ddd; 
      padding: 10px; 
      border-radius: 5px;
    }
  a {
      color: #3872e0;
  }

  .mb-4, .my-4 {
          text-align: center;
      }
</style>
<section class="section-conten padding-y direction" style="min-height:84vh">

<!-- ============================ COMPONENT LOGIN   ================================= -->



	<div class="card mx-auto" style="max-width: 600px; margin-top:100px;">

      <div class="card-body">
      <h4 class="card-title mb-4">رمز عبور را فراموش کرده اید</h4>
      {% include 'alerts/alerts.html' %}
      <form action="{% url 'account:forgot_password_page' %}" method="POST">
        {% csrf_token %}
          <div class="form-group">
			 <input type="email" class="form-control" placeholder="ادرس ایمیل خود را وارد کنید" name="email">
          </div> <!-- form-group// -->

          <div class="form-group">
          	<a href="{% url 'account:login_page' %}" class="float-right">رمز عبور دارید؟ وارد شدن</a>

          </div> <!-- form-group form-check .// -->
          <div class="form-group">
              <button type="submit" class="btn btn-primary btn-block"> ارسال  </button>
          </div> <!-- form-group// -->
      </form>
      </div> <!-- card-body.// -->
    </div> <!-- card .// -->

     <p class="text-center mt-4">حساب کاربری ندارید؟<a href="{% url 'account:register_page' %}">ثبت نام</a></p>
     <br><br>
<!-- ============================ COMPONENT LOGIN  END.// ================================= -->

</section>
{% endblock %}