{% extends 'base.html' %}

{% load custom_tags %}

{% block main %}
<style>

    .direction {
      direction: rtl; 
      text-align: right; 
      background-color: #f8f9fa; 
      border: 1px solid #ddd; 
      padding: 10px; 
      border-radius: 5px;
    }
	.list-group {
		display: contents;}
    a {
        color: #245aea;}
</style>
<section class="section-conten padding-y bg direction">
    {% include 'alerts/alerts.html' %}
    <div class="container">
        <div class="row">
            {% include 'includes/profile_sidebar.html' %}
            <main class="col-md-9">
                {% for order_data in orders_data %}
                <article class="card mb-4">
                    <header class="card-header">
                        <strong class="d-inline-block mr-3">جزئیات سفارش شماره {{ order_data.order.order_number }}</strong>
                    </header>
                    <div class="card-body">
                        <h5>اطلاعات سفارش</h5>
                        <table class="table">
                            <tr>
                                <th>شماره سفارش</th>
                                <td>{{ order_data.order.order_number }}</td>
                            </tr>
                            <tr>
                                <th>نام کامل</th>
                                <td>{{ order_data.order.full_name }}</td>
                            </tr>
                            <tr>
                                <th>شماره تلفن</th>
                                <td>{{ order_data.order.phone }}</td>
                            </tr>
                            <tr>
                                <th>تاریخ سفارش</th>
                                <td>{{ order_data.order.created_at }}</td>
                            </tr>
                            <tr>
                                <th>مبلغ کل</th>
                                <td>{{ order_data.order.grand_total|format_price }} تومان</td>
                            </tr>
                        </table>
						<hr>
                        <h5>جزئیات محصولات</h5>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>نام محصول</th>
                                    <th>قیمت محصولات</th>
                                    <th>تعداد محصول</th>
                                    <th>هزینه کل سفارش</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in order_data.order_products %}
                                <tr>
                                    <td>{{ item.product.title }}</td>
                                    <td>{{ item.order.order_total|format_price }} </td>
                                    <td>{{ item.quantity}}</td>
                                    <td>{{ item.order.grand_total|format_price}} </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                        
                    </div>
                </article>
                {% empty %}
                <p>شما هنوز سفارشی ثبت نکرده‌اید.</p>
                {% endfor %}
            </main>
        </div>
    </div>
</section>

{% endblock %}