{% extends 'base.html' %}


{% block main %}
<style>
    .direction {
        direction: rtl; 
        text-align: right; 
        background-color: #f8f9fa; 
        border: 1px solid #ddd; 
        padding: 10px; 
        border-radius: 5px;
      }
    a {
        color: #3872e0;
    }

    .mb-4, .my-4 {
            text-align: center;
        }
</style>
<section class="section-conten padding-y direction" style="min-height:84vh">

<!-- ============================ COMPONENT LOGIN   ================================= -->



	<div class="card mx-auto" style="max-width: 380px; margin-top:100px;">

      <div class="card-body">
      <h4 class="card-title mb-4">بازنشانی رمز عبور</h4>
      {% include 'alerts/alerts.html' %}
      <form action="{% url 'account:reset_password_page' %}" method="POST">
        {% csrf_token %}
          <div class="form-group">
			 <input type="password" class="form-control" placeholder="ایجاد رمز عبور" name="password">
          </div> <!-- form-group// -->
          <div class="form-group">
			<input type="password" class="form-control" placeholder="تایید رمز عبور" name="confirm_password">
          </div> <!-- form-group// -->


          <div class="form-group">
              <button type="submit" class="btn btn-primary btn-block"> تغییر رمز عبور  </button>
          </div> <!-- form-group// -->
      </form>
      </div> <!-- card-body.// -->
    </div> <!-- card .// -->

     <p class="text-center mt-4">حساب کاربری ندارید؟ <a href="{% url 'account:register_page' %}">ثبت نام</a></p>
     <br><br>
<!-- ============================ COMPONENT LOGIN  END.// ================================= -->


</section>
{% endblock %}