{% extends 'base.html' %}
{% load custom_tags %}


{% block main %}
<style>
    .direction {
      direction: rtl; 
      text-align: right; 
      background-color: #f8f9fa; 
      border: 1px solid #ddd; 
      padding: 10px; 
      border-radius: 5px;
    }
	.list-group {
		display: contents;}
    a {
        color: #245aea;}
	.default-profile-icon {
			font-size: 80px;
			color: #ccc;
		  }
</style>
<section class="section-conten padding-y bg direction">

{% include 'alerts/alerts.html' %}
<div class="container">
	<div class="row">
	{% include 'includes/profile_sidebar.html' %}
	<main class="col-md-9">
		<article class="card">
		<header class="card-header">
			<strong class="d-inline-block mr-3">وارد شده بعنوان :</strong>
			<span>{{user.full_name}}</span>
		</header>
		<div class="card-body">
			<div class="row">

				<div class="col-md-6">
					<div class="card" style="text-align:center;">
						<div class="card-body">
							<h5 class="card-title">کل سفارشات</h5>
							<h4>{{orders_count}}</h4>
							<a href="{% url 'account:my_orders_page' %}">مشاهده سفارشات</a>
						</div>
					</div>
				</div>

				<div class="col-md-6">
					<div class="card" style="text-align:center;">
						<div class="card-body">
							{% if user.email %}
								<img src="{{ user|get_profile_image }}" alt="Profile Picture" class="profile-image">
							{% elif userprofile.profile_picture %}
								<img src="{{ userprofile.profile_picture.url }}" alt="Profile Picture" class="profile-image">
							{% else %}
								<i class="fas fa-user-circle default-profile-icon"></i>
							{% endif %}
							<p class="mb-0">{{user.email}}</p>
							<p>{{user.phone_number}}</p>
						</div>
					</div>
				</div>

			</div> <!-- row.// -->
		</div> <!-- card-body .// -->
		</article> <!-- order-group.// -->
	</main>
</div> <!-- row.// -->
</div>


</section>

{% endblock %}